---
title: Home
description: Landing page for the TAPAS Project
image: images/448612-Earth-space.jpg
bottom_image: https://www.ics-agri.com/photos/ics-senegal-yellow-sun-onion-crop-1140p.jpg
vid_image: https://media.istockphoto.com/id/1433897253/photo/black-green-modern-abstract-background-with-space-for-design-gradient-light-and-dark-blurry.jpg?s=612x612&w=0&k=20&c=wz9jtBzRjplL73VLwy7VufIyOczslSYV7d-pbRHGl0c=
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The TAPAS Project</h1>
			<p class="subtext editable">Tracking adaptation progress in agriculture and food security using an AI-powered satellite remote sensing platform</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What is TAPAS?</h2>
				<p class="editable">It's a methodology that uses AI to identify, quantify and track climate-changed induced biomass anomalies by analysing archival & real time earth observation data.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/modis-ndvi-time-series-animation.gif" alt="Screenshot" width="300"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How does TAPAS work?</h2>
				<p class="editable">It uses deep learning, advanced statistical models and ground truth data to find locations where growth patterns have been disrupted use this to make maps showing where agricultural communities have been impacted - or have adapated to - climate change </p>
			</div>
			<div class="image">
				<img class="editable" src="https://www.agrilinks.org/sites/default/files/uploads/seirs1.png" alt="Screenshot" width="400" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What can TAPAS do?</h2>
				<p class="editable">We can learn what local interventions have worked in the past to counter the effects of climate change in specific areas of the world - and where they need to be applied right now to optimise their impact to help the most vulnerable communities on the planet.  </p>
			</div>
			<div class="image">
				<img class="editable" src="https://assets.mcc.gov/content/uploads/photo-091119-sen-iwrm-eval-brief-feature.jpg.jpg" alt="Screenshot" width="400"/>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Winner of the SFI AI for Societal Good Challenge 2021</h2>
				<p class="subtext editable">TAPAS is funded by Science Foundtion Ireland and the Irish Government's Department of Foreign Affairs.</p>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.vid_image %})">
		<div class="inner-hero text-container">
				<iframe width="1024" height="512" src="https://www.youtube.com/embed/srHEehTNJcs?si=vIJCnHSjXsmR8NJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</section>
</div>
